doctype html
html(ng-app='app')
  head
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui")
    title Bufollow
    link(href="lib/angular-material.min.css", type="text/css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic", type="text/css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic", type="text/css", rel="stylesheet")
    link(href="css/bufollow.min.css", type="text/css", rel="stylesheet")
  body
    div.buf-page(ng-view)
    script(src="lib/angular-custom.min.js")
    script(src="js/bufollow.min.js")