body {
  background: url('http://youne.com/wp-content/uploads/2013/08/People-At-Concert-my-walls-net.jpg');
  background-position: center center;
}

.buf-page,
.buf-login {
  height: 100%;
}

.buf-login__card {
  width: 100%;
}

.buf-login__card__content {
  background-color: rgba(255, 255, 255, .7);
}

.buf-login__card__forms {
  width: 400px;
}

.buf-login__logo {
  margin-bottom: 20px;
  width: 130px;
}

[transparent-content] {
  background-color: transparent
}