body {
  background: url('/images/background.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

[transparent-content] {
  background-color: transparent
}