body {
  background: url('/images/background.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

[transparent-content] {
  background-color: transparent
}

.buf-icon{
  &--small {
    font-size: 12px;
  }
  &--normal {
    font-size: 24px;
  }
  &--medium {
    font-size: 36px;
  }
  &--big {
    font-size: 48px;
  }
}

.buf-toolbar {
  background-color: #192F5A;
}