body {
  background: url('http://subtlepatterns.com/patterns/swirl_pattern.png');
}

.buf-login-card {
  width: 400px;
}

.buf-page,
.buf-login {
  height: 100%;
}

[transparent-content] {
  background-color: transparent
}