.buf-login {
  $width = 320;

  height: 100%;

  &__content {
    width: 100%;
  }

  &__forms {
    $translatePos = 100;

    transition: .25s linear all;

    &.registering {
      transform:  translate(unit(($translatePos + $width) * -1, 'px'));
    }

    form {
      width: unit($width, 'px');
      display: inline-block;

      + form {
        margin-left: unit($translatePos, 'px');
      }
    }
  }

  &__container {
    overflow: hidden;
    width: unit($width, 'px');
    white-space: nowrap;
  }

  &__form {
    &__container {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      flex: 1;
    }

    &__space {
      height: 250px;
    }
  }

  &__more-buttons {
    margin-top 10px;

    .md-button {
      margin: 0;
      flex: 1;

      &:first-child {
        background-color:  rgba(255, 255, 255, 0.3);
        margin-right: 10px;
        text-transform: none;
      }
    }
  }

  &__button {
    width: 100%;
    margin: 10px 0 0 0;
  }


  &__logo {
    $logoWidth = 260;

    img {
      width: unit($logoWidth, 'px');
    }
  }

  &__warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
}