.buf-login {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &__card {
    width: 100%;
    margin-top: -60px;

    &__forms {
      width: 320px;
      background-color: rgba(255, 255, 255, 0.4);
    }

    &__content {
    }
  }

  &__more-buttons {
    margin-top 20px;

    .md-button {
      width: 100%;
      margin: 0;
      flex: 1;

      &:first-child {
        margin-right: 10px;
        text-transform: none;
      }
    }
  }

  &__button {
    width: 100%;
    margin: 0;
  }


  &__logo {
    img {
      width: 250px;
    }
  }
}