.buf-login {
  $customColor = rgba(255, 255, 255, 0.9);

  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &__card {
    width: 100%;
    margin-top: -60px;

    &__forms {
      width: 320px;
    }
  }

  &__more-buttons {
    margin-top 20px;

    .md-button {
      width: 100%;
      margin: 0;
      flex: 1;

      &:first-child {
        margin-right: 10px;
        text-transform: none;
      }
    }
  }

  &__button {
    width: 100%;
    margin: 0;
  }


  &__logo {
    img {
      width: 250px;
    }
  }
}

.test {
  background-color: rgb(18, 51, 74);
}

// Overwrite angular theme colors
md-input-container.md-loginTheme-theme {
  label {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .md-input, label {
    text-shadow: none;
  }
}